@font-face {
	font-family: "TTNorms";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/TTNorms-Regular.eot?") format("eot"), url("../fonts/TTNorms-Regular.woff") format("woff"),
		url("../fonts/TTNorms-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "TTNorms";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/TTNorms-Bold.eot?") format("eot"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
}
